/* start globel rules */
* {
    --webkit-box-sizing: border-box;
    --moz-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --main-color: #10cab7;
    --second-color: #2c4755;
    --section-padding: 60px;
    --third-color: #f6f6f6;
    --p-color: #777;
    --main-duration:0.3s
}

body {
    font-family: 'Work Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.container {
    /* عشان كل جاجه تتوسطن في الصفحه */
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* small scteen */
@media(min-width:768px) {
    .container {
        width: 750px;
    }
}

/* medium */
@media(min-width:992px) {
    .container {
        width: 970px;
    }
}

/* large */
@media(min-width:1200px) {
    .container {
        width: 1170px;
    }
}

/* start header */
.header {
    padding: 20px;

}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header .logo {
    width: 60px;

}

.header .links {
    position: relative;
}

.header .links ul {
    display: none;
    list-style: none;
    min-width: 200px;
    background-color: #f6f6f6;
    padding: 0;
    margin: 0;
    position: absolute;
    right: 0;
    top: calc(100% + 15px);
    z-index: 1;
}

.header .links ul::after {
    content: "";
    position: absolute;
    border: solid 10px;
    border-color: transparent transparent #f6f6f6 transparent;
    right: 5px;
    top: -20px;

}

.header .links ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: black;
    transition:var(--main-duration);
}

/* عشان الشكل يظهر */
.header .links:hover ul {
    display: block;
}

.header .links ul li a:hover {
    padding-left: 30px;
}

.header .links ul li:not(:last-child) a {
    border-bottom: 1px solid #ddd;
}

/* end header */
.landing {
    background-image: url(../imge/landing.jpg);
    background-size: cover;
    position: relative;
    height: calc(100vh - 64px);
    /* 64 size of header */
}

.landing .intro-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 300px;
    /* width عشان البراجراف ميتمدتش */
    max-width: 100%;
    /* 100% عشان لما اصغر الصفحه الكلام يظهر كله */
}

.landing .intro-text h1 {
    color: var(--main-color);
    margin: 0;
    font-weight: bold;
    font-size: 50px;
}

.landing .intro-text p {
    font-size: 19px;
    line-height: 1.8;

}

/* end landing */

.features {
    /* padding: 60px; */
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--third-color);
}

.features .container {

    gap: 20px;

}

.features .feat {
    padding: 20px;
    text-align: center;
}

.features .feat i {
    color: var(--main-color);
}

.features .feat h3 {
    font-weight: 800;
    padding: 20px;
}

.features .feat p {
    line-height: 1.8;
    color: var(--p-color);

}

/* end features */
/* spicial-heading 
ثابت معانا في المشروع كله */

.spicial-heading {
    color: #ebeced;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;
}

.spicial-heading+p {
    color: #797979;
    font-size: 20px;
    text-align: center;
    margin: -30px 0 0;
    align-items: center;
}

@media(max-width:767px) {
    .spicial-heading {
        font-size: 60px;
    }

    .spicial-heading+p {
        margin-top: -20px;
    }
}

.services {

    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.services .services-content {
    gap: 30px;
    margin-top: 100px;
}

.services .services-content .srv {
    display: flex;
    margin-bottom: 40px;
}

@media(max-width:767px) {
    .services .services-content .srv {
        flex-direction: column;
        text-align: center;
    }
}

.services .services-content .srv i {
    color: var(--main-color);
    /* استخدمنا الباسيس مش الويدز عشان لما يروح للموبيل بيتعامل كطول وعرض */
    flex-basis: 60px;
}

.services .services-content .srv .text {
    /* grow */
    flex: 1;

}

.services .services-content .srv .text p {
    color: var(--p-color);
    font-weight: 300;
    line-height: 1.8;
}

.services .services-content .srv .text h3 {
    margin: 0 0 20px;

}

.services .services-content .img-col img {
    width: 250px;
}

@media (max-width: 1199px) {
    .img-col {
        display: none;
    }

}


.services .services-content .img-col {
    position: relative;
    text-align: center;
}

.services .services-content .img-col::before {
    content: "";
    position: absolute;
    width: 100px;
    background-color: var(--second-color);
    height: calc(100% + 100px);
    top: -50px;
    right: 0;
    z-index: -1;
}

/* end services */
.portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--third-color);
}

.portfolio .portfolio-content {

    gap: 30px;
    margin-top: 100px;
}

.portfolio .portfolio-content .card {
    background-color: white;

}

.portfolio .portfolio-content .card img {
    max-width: 100%;
}

.portfolio .portfolio-content .card .info {
    padding: 20px;
}

.portfolio .portfolio-content .card .info h3 {
    margin: 0;
}

.portfolio.portfolio-content .card .info p {
    color: var(--p-color);
    line-height: 1.8;
    margin-bottom: 0;
}

/* end portfolio */

.about {
    padding-top: var(--section-padding);
    padding-bottom: calc(var(--section-padding) + 60px);
}

.about .about-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 100px;
}

/* medium screen */
@media(max-width:992px) {
    .about .about-content {
        flex-direction: column;
        text-align: center;
    }
}

/* ده الاب عشان كده عطيته ريلاتيف */
.about .about-content .image {
    position: relative;
    width: 250px;
    height: 375px;

}

@media (max-width:991px) {
    .about .about-content .image {
        margin: 0 auto 60px;
    }

}

.about .about-content .image::before {
    content: "";
    position: absolute;
    width: 100px;
    background-color: #ebeced;
    height: calc(100% + 80px);
    top: -40px;
    left: -20px;
    z-index: -1;
}

.about .about-content .image::after {
    content: "";
    position: absolute;
    /* color:var(--main-color); */
    width: 100px;
    height: 300px;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    top: -70px;
    right: -150px;
    top: -40px;
    z-index: -1;

}

@media (max-width:991px) {

    .about .about-content .image::before,
    .about .about-content .image::after {
        display: none;
    }

}

.about .about-content .image img {
    max-width: 100%;
}

.about .about-content .text {
    flex-basis: calc(100% - 500px);
}

.about .about-content .text p:first-of-type {
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
}

.about .about-content .text p:last-of-type {
    line-height: 2;
    color: var(--p-color);
    margin-top: 30px;
}

.about .about-content .text hr {
    width: 50%;
    border-color: var(--main-color);
    display: inline-block;
}

/* end about */
.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--third-color);
}

.contact .info {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
}

.contact .lable {
    color: var(--second-color);
    font-weight: 800;
    font-size: 40px;
    letter-spacing: -3px;


}

.contact .link {
    display: block;
    color: var(--main-color);
    font-weight: 800;
    font-size: 30px;
    text-decoration: none;
    margin-top: -30px;


}

.contact .info .social {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 17px;
    text-transform: capitalize;
}

.contact .info i {
    margin-left: 10px;
    color: var(--second-color);
}

@media (max-width:767px) {

    .contact .info .lable,
    .contact .info .link {
        font-size: 25px;
    }

}

/* footer */
.footer {
    background-color: var(--second-color);
    color: white;
    padding: 30px 30px;
    text-align: center;
    font-size: 18px;
}

span {
    color: #10cab7;
    font-weight: bold;
}